# Виртуальное окружение
venv/
env/
ENV/

# Файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Файлы конфигурации с секретами
config.py
.env

# Логи
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


.env